.git
.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.log
*.tmp
*.swp
*.swo
.DS_Store

runs
output
BACKUP
BAAP_GWAS_Run_OLD

*.bed
*.bim
*.fam
*.raw
*.vcf
*.nosex
*.assoc.linear

GWAS_v3_output_*
TEST_*_Summary_Report.*
