fastlmm>=0.6.0
gseapy
ipython
ipywidgets
matplotlib
mygene
natsort
nbformat>=4.2.0
kaleido
numpy
pandas
pandas-plink
plotly
requests==2.31.0
scikit-learn
scipy
seaborn
statsmodels
tqdm
tabulate
jupyter
notebook
